/* Thanks to: https://github.com/mladenplavsic/bootstrap-navbar-sidebar  */
body {
    padding-top: 90px;
    color: #141823;
}

@media (min-width: 768px) {
    body {
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    body {
        margin-left: 232px;
    }
}

.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        bottom: 0;
        width: 232px;
        flex-flow: column nowrap;
        align-items: flex-start;
    }
    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        top: 0;
    }
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        right: auto;
    }
    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: 0.3em solid transparent;
        border-left: 0.3em solid;
        border-bottom: 0.3em solid transparent;
        border-right: none;
        vertical-align: baseline;
    }
    .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
        left: 100%;
    }
}

/**
    Custom
 */

.navbar {
    background: #f5f5f5;
}

@media (min-width: 768px) {
    main {
        padding: 50px 70px;
    }

    .navbar {
        box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, .1);
    }
}

.header-main {
    justify-content: space-between;
    background: linear-gradient(to left top, rgb(40, 165, 245), rgb(30, 135, 240));
}

.footer-help {
    padding: 40px;
    background: #fafbfc;
}

.footer-help-img {
    width: 120px;
    height: 120px;
    margin-right: 30px;
    background-image: url('../img/help.png');
    background-size: contain;

}

.footer {
    font-size: .785rem;
    border-top: 1px solid #ddd;
}
